/* General Styles */
body {
    font-family: sans-serif;
    margin: 0; /* Remove default body margin */
    padding: 0; /* Remove default body padding */
    background-color: #f9f9f9;
}

header {
    padding: 1rem;
    text-align: center;
}

main {
    padding: 2rem;
    margin-bottom: 4rem;
}

/* Section Styling */
section {
    margin-bottom: 2rem;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 100%;
}

.background {
    background-image: url(Images/chess-4.jpg);
    background-size: cover;
    background-position: center;
    padding: 5rem 0;
    display: flex;
    flex-direction: column; /* Ensure sections stack vertically */
    align-items: center;
    width: 100vw; /* Make the background stretch to the full viewport width */
    position: relative; /* Allows for absolute positioning if needed */
    left: 0; /* Align to the left */
    right: 0; /* Align to the right */
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    max-width: 800px;
    width: 90%; /* Adjust width to ensure proper spacing */
    text-align: center;
    margin-bottom: 2rem; /* Space between overlays */
}

h2 {
    color: #333;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

p {
    color: #333;
    font-size: 1.1rem;
    line-height: 1.6;
}
